@font-face {
    font-family: Montserrat-Regular; /* Имя шрифта */
    src: url(./assets/fonts/Montserrat-Regular.ttf); /* Путь к файлу со шрифтом */
   }

   @font-face {
    font-family: Montserrat-Black; /* Имя шрифта */
    src: url(./assets/fonts/Montserrat-Black.ttf); /* Путь к файлу со шрифтом */
   }

   @font-face {
    font-family: Montserrat-Bold; /* Имя шрифта */
    src: url(./assets/fonts/Montserrat-Bold.ttf); /* Путь к файлу со шрифтом */
   }

   @font-face {
    font-family: Montserrat-SemiBold; /* Имя шрифта */
    src: url(./assets/fonts/Montserrat-SemiBold.ttf); /* Путь к файлу со шрифтом */
   }