/* :root {
    --page-padding-left-right: 90px;
  } */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: url(./images/winter-background-defoult.jpg) no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  transition: background 2s;
}

body {
  max-width: 1020px;
  height: 100%;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.search-field::-webkit-input-placeholder {
  color: #ffffff;
  font-style: italic;
  background: rgba(76, 82, 85, 0.4);
}

.search-field:-moz-placeholder {
  color: #ffffff;
  font-style: italic;
  background: rgba(76, 82, 85, 0.4);
}

.search-field:-ms-input-placeholder {
  color: #ffffff;
  font-style: italic;
  background: rgba(76, 82, 85, 0.4);
}

.menu {
  display: flex;
  flex-basis: 200px;
  justify-content: center;
  align-items: center;
}

.menu > * {
  flex-basis: 44px;
  color: blue;
}

.refresh-button {
  width: 44px;
  height: 44px;
  background-image: url(./images/refresh.png);
  border-radius: 5px;
  margin: 1px;
  position: relative;
  cursor: pointer;
}

.fa-refresh {
  position: absolute;
  top: 30%;
  left: 30%;
  font-size: 18px;
  color: white;
}

.fa-refresh {
  animation: rotate-around 1s infinite;
  animation-play-state: paused;
}

@keyframes rotate-around {
  100% {
    transform: rotate(360deg);
  }
}

.temperature-buttons {
  display: flex;
}

.temperature-buttons_radio {
  font-size: 24px;
  color: white;
  width: 44px;
  height: 44px;
  background: rgba(174, 181, 185, 0.5);
  text-align: center;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.radio-input {
  appearance: none;
  position: absolute;
  width: 42px;
  height: 42px;
  z-index: 10;
  cursor: pointer;
}

.radio-input:checked + .radio-label::before {
  content: '';
  width: 42px;
  height: 42px;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 1px;
  left: 1px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px white, -2px -2px 5px white;
}

.radio-input:checked + .radio-label {
  color: rgb(255, 255, 0);
}

.radio-input:checked:focus {
  outline: 0;
}

.temperature-buttons_radio:first-child {
  border-radius: 5px 0 0 5px;
}

.temperature-buttons_radio:last-child {
  border-radius: 0 5px 5px 0;
}

/* Language Button */
.language-button {
  appearance: none;
  background: rgba(174, 181, 185, 0.5);
  color: white;
  padding-right: 10px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 88px;
  height: 44px;
  margin: 1px;
  position: relative;
}

.language-button:before {
  position: absolute;
  top: 25%;
  right: 5%;
  content: '\f107';
  font-family: FontAwesome;
  font-size: 20px;
  color: white;
}

.language-button-content {
  appearance: none;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: transparent;
  border: 0;
  font-family: Montserrat-Regular;
  font-size: 18px;
  padding-left: 2px;
  color: white;
  cursor: pointer;
}

.language-button-content:focus {
  outline: 0;
}

.language-button-content option {
  background: rgba(174, 181, 185, 0.5);
}

.search-form {
  position: relative;
  flex-basis: 300px;
}

.search-field {
  width: 100%;
  height: 32px;
  padding-left: 10px;
  border: 1px solid #7ba7ab;
  border-radius: 5px;
  outline: none;
  background: rgba(76, 82, 85, 0.4);
  color: #ffffff;
}

.search-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 92px;
  height: 32px;
  border: none;
  background: rgba(174, 181, 185, 0.5);
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  color: white;
  font-size: 12px;
}

.search-button:before {
  content: '\f002';
  font-family: FontAwesome;
  font-size: 14px;
  color: #f9f0da;
  padding-right: 3px;
}

/*--------------------------------main---------------------------------------------*/

.main {
  display: flex;
  width: 100%;
  height: 90%;
  justify-content: space-between;
  align-items: center;
  color: rgb(255, 251, 251);
}

/* main > * {
  border: 1px solid black;
} */
/*--------------------------------description of weather today and three next day------------------------*/
.weather-city-information {
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.city-time > * {
  font-family: Montserrat-Bold;
  padding-top: 5px;
}

.weather-today {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.weather-today__temperature_number {
  font-size: 260px;
  font-family: Montserrat-Bold;
  display: flex;
  position: relative;
}

.weather-today__temperature_number img {
  position: absolute;
  width: 260px;
  right: -180px;
  top: -80px;
  z-index: -1;
}

.weather-today__temperature_sign-degree {
  display: block;
  font-size: 100px;
  padding-top: 10%;
}

.weather-today__description {
  display: flex;
  flex-direction: column;
  line-height: 2;
  font-family: Montserrat-Bold;
  font-size: 20px;
  padding-top: 75px;
}

.weather-today__description > * {
  display: block;
}

.weather-next-days {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.weather-next-days_item {
  flex-basis: 33%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}

.weather-next-days_name-day {
  width: 100%;
  font-family: Montserrat-Bold;
  font-size: 22px;
}

.weather-next-days_temperature_number {
  font-family: Montserrat-SemiBold;
  font-size: 60px;
  display: flex;
  padding-left: 3px;
}

.weather-next-days_sign-degree {
  display: block;
  font-size: 40px;
}

.weather-next-days_temperature_number {
  z-index: 10;
}

.weather-next-days_icons {
  position: absolute;
  top: 10%;
  left: 30%;
  z-index: -1;
}

.user-location {
  width: 35%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.user-location__geolocation {
  width: 260px;
  height: 260px;
  clip-path: polygon(
    100% 0,
    100% 100%,
    90% 90%,
    13% 90%,
    9% 90%,
    6% 89%,
    3% 86%,
    1% 84%,
    0 81%,
    0 0
  );
  border-radius: 10% 10% 0 10%;
}

.user-location__coordinates {
  width: 60%;
  height: 40px;
  text-align: right;
  font-family: Montserrat-SemiBold;
  font-size: 14px;
}

/* ---------------------------стили для экранов max-width 991px-----------------------*/
@media screen and (max-width: 991px) {
  body {
    width: 768px;
  }

  .temperature-buttons_radio {
    font-size: 22px;
  }

  /*--------------------------------main---------------------------------------------*/

  .main {
    height: 90%;
  }

  /*--------------------------------description of weather today and three next day------------------------*/
  .city-time > * {
    font-size: 24px;
  }

  .weather-today__temperature_number {
    font-size: 220px;
  }

  .weather-today__temperature_number img {
    width: 240px;
    right: -160px;
    top: -90px;
  }

  .weather-today__temperature_sign-degree {
    font-size: 90px;
    padding-top: 8%;
  }

  .weather-today__description {
    font-size: 16px;
    padding-top: 55px;
  }

  .weather-next-days_name-day {
    font-size: 20px;
  }

  .weather-next-days_temperature_number {
    font-size: 55px;
  }

  .weather-next-days_sign-degree {
    font-size: 35px;
  }

  .user-location__geolocation {
    width: 230px;
    height: 230px;
  }

  .user-location__coordinates {
    width: 80%;
    font-size: 14px;
    padding-top: 10px;
  }
}

/* ---------------------------стили для экранов max-width 767px-----------------------*/

@media screen and (max-width: 767px) {
  body {
    width: 479px;
  }

  .menu > * {
    flex-basis: 38px;
  }

  .refresh-button {
    width: 38px;
    height: 38px;
  }

  .fa-refresh {
    top: 30%;
    left: 25%;
    font-size: 16px;
  }

  /* Language Button */
  .language-button {
    padding-right: 8px;
    font-size: 16px;
    width: 76px;
    height: 38px;
  }

  .language-button:before {
    font-size: 18px;
  }

  .language-button-content {
    font-size: 16px;
    padding-left: 2px;
  }

  .temperature-buttons_radio {
    font-size: 20px;
    width: 38px;
    height: 38px;
  }

  .radio-input {
    width: 38px;
    height: 38px;
  }

  .radio-input:checked + .radio-label::before {
    content: '';
    width: 38px;
    height: 38px;
  }

  .search-form {
    flex-basis: 240px;
  }

  .search-field {
    width: 100%;
    height: 30px;
    padding-left: 10px;
  }

  .search-button {
    width: 72px;
    height: 30px;
    font-size: 10px;
  }

  .search-button:before {
    content: '\f002';
    font-family: FontAwesome;
    font-size: 10px;
    color: #f9f0da;
    padding-right: 3px;
  }
  /*--------------------------------main---------------------------------------------*/

  .main {
    height: 90%;
  }

  /*--------------------------------description of weather today and three next day------------------------*/
  .city-time > * {
    font-size: 18px;
  }

  .weather-city-information {
    width: 50%;
  }

  .weather-today {
    flex-wrap: wrap;
  }

  .weather-today__temperature_number {
    font-size: 160px;
    width: 100%;
  }

  .weather-today__temperature_number img {
    width: 180px;
    right: -80px;
    top: -60px;
  }

  .weather-today__temperature_sign-degree {
    font-size: 70px;
    padding-top: 4%;
  }

  .weather-today__description {
    font-size: 18px;
    padding-top: 0px;
    width: 100%;
  }

  .weather-next-days {
    padding-top: 20px;
  }

  .weather-next-days_name-day {
    font-size: 16px;
  }

  .weather-next-days_temperature_number {
    font-size: 45px;
  }

  .weather-next-days_sign-degree {
    font-size: 30px;
  }

  .weather-next-days_icons {
    position: absolute;
    top: 7%;
    left: 30%;
    z-index: -1;
  }

  .weather-next-days_icons img {
    width: 50px;
    height: 50px;
  }

  .user-location {
    width: 50%;
  }

  .user-location__geolocation {
    width: 230px;
    height: 230px;
  }

  .user-location__coordinates {
    width: 90%;
    font-size: 14px;
    padding-top: 20px;
  }
}

/* ---------------------------стили для экранов max-width 479px-----------------------*/

@media screen and (max-width: 479px) {

  body {
    width: 320px;
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menu {
    flex-basis: 50px;
  }


  .menu > * {
    flex-basis: 30px;
  }

  .refresh-button {
    width: 30px;
    height: 30px;
  }

  .fa-refresh {
    top: 30%;
    left: 30%;
    font-size: 12px;
  }

  /* Language Button */
  .language-button {
    padding-right: 8px;
    font-size: 12px;
    width: 60px;
    height: 30px;
  }

  .language-button:before {
    font-size: 12px;
    top: 30%;
    right: 5%;
  }

  .language-button-content {
    font-size: 12px;
    padding-left: 2px;
  }

  .temperature-buttons_radio {
    font-size: 20px;
    width: 30px;
    height: 30px;
  }

  .radio-input {
    width: 30px;
    height: 30px;
  }

  .radio-input:checked + .radio-label::before {
    content: '';
    width: 30px;
    height: 30px;
  }

  .search-form {
    padding-top: 15px;
    flex-basis: 50px;
  }

  .search-field {
    width: 100%;
    height: 30px;
  }

  .search-button {
    width: 72px;
    height: 30px;
    font-size: 10px;
    top: 15px;
    right: 0px;
  }

  .search-button:before {
    content: '\f002';
    font-family: FontAwesome;
    font-size: 10px;
    color: #f9f0da;
    padding-right: 3px;
    
  }
  /*--------------------------------main---------------------------------------------*/

  .main {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  /*--------------------------------description of weather today and three next day------------------------*/

  .weather-city-information {
    width: 80%;
  }

  .city-time {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .city-time h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .city-time > * {
    font-size: 20px;
  }

  .weather-today {
    flex-wrap: wrap;
  }

  .weather-today__temperature_number {
    font-size: 140px;
    width: 80%;
  }

  .weather-today__temperature_number img {
    width: 180px;
    right: -80px;
    top: -60px;
  }

  .weather-today__temperature_sign-degree {
    font-size: 70px;
    padding-top: 4%;
  }

  .weather-today__description {
    font-size: 16px;
    padding-top: 0px;
    width: 80%;
    letter-spacing: 1.5px;
    align-items: center;
  }

  .weather-next-days {
    padding-top: 20px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .weather-next-days_item {
    display: flex;
    flex-basis: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
  }

  .weather-next-days_name-day {
    font-size: 22px;
    display: flex;
    justify-content: center;
  }

  .weather-next-days_temperature_number {
    font-size: 45px;
    padding-left: 10px;
    flex-basis: 70%;
    display: flex;
    justify-content: center;
  }

  .weather-next-days_sign-degree {
    font-size: 30px;
  }

  .weather-next-days_icons {
    position: absolute;
    top: 15%;
    left: 40%;
    z-index: -1;
  }

  .weather-next-days_icons img {
    width: 64px;
    height: 64px;
  }

  .user-location {
    width: 80%;
    align-items: center;
  }

  .user-location__geolocation {
    width: 230px;
    height: 230px;
  }

  .user-location__coordinates {
    width: 90%;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 20px;
  }
}
