/* :root {
    --page-padding-left-right: 90px;
  } */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 html {
    background: url(./images/winter-background-defoult.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
} 

body {
  max-width: 1020px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.search-field::-webkit-input-placeholder {
  color: #ffffff;
  font-style: italic;
  background: rgba(76, 82, 85, 0.4);
}

.search-field:-moz-placeholder {
  color: #ffffff;
  font-style: italic;
  background: rgba(76, 82, 85, 0.4);
}

.search-field:-ms-input-placeholder {
  color: #ffffff;
  font-style: italic;
  background: rgba(76, 82, 85, 0.4);
}

.menu {
  display: flex;
  flex-basis: 200px;
  justify-content: center;
  align-items: center;
}

.menu > * {
  flex-basis: 44px;
  color: blue;
}

.refresh-button {
  width: 44px;
  height: 44px;
  background-image: url(./images/refresh.png);
  border-radius: 5px;
  margin: 1px;
  flex: 1;
  position: relative;
}

.refresh-button:before {
  position: absolute;
  top: 30%;
  left: 30%;
  content: '\f021';
  font-family: FontAwesome;
  font-size: 18px;
  color: white;
}

.temperature-buttons {
  display: flex;
}

.temperature-buttons > * {
  font-size: 16px;
  color: white;
  width: 44px;
  height: 44px;
  background: rgba(174, 181, 185, 0.5);
  text-align: center;
  border: none;
}

.celsius-button {
  border-radius: 5px 0 0 5px;
}

.fahrenheit-button {
  border-radius: 0 5px 5px 0;
}

/* Dropdown Button */
.dropbtn {
  background: rgba(174, 181, 185, 0.5);
  color: white;
  padding-right: 10px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 70px;
  height: 44px;
  margin: 1px;
}

.dropbtn:before {
  position: absolute;
  top: 25%;
  right: 10%;
  content: '\f107';
  font-family: FontAwesome;
  font-size: 25px;
  color: white;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background: rgba(174, 181, 185, 0.8);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #755e5e;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

.search-form {
  position: relative;
  flex-basis: 300px;
}

.search-field {
  width: 100%;
  height: 32px;
  padding-left: 10px;
  border: 1px solid #7ba7ab;
  border-radius: 5px;
  outline: none;
  background: rgba(76, 82, 85, 0.4);
  color: #ffffff;
}

.search-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 92px;
  height: 32px;
  border: none;
  background: rgba(174, 181, 185, 0.5);
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  color: white;
  font-size: 12px;
}

.search-button:before {
  content: '\f002';
  font-family: FontAwesome;
  font-size: 14px;
  color: #f9f0da;
}

/*--------------------------------main---------------------------------------------*/

.main {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: rgb(255, 251, 251);
}

/* main > * {
  border: 1px solid black;
} */
/*--------------------------------description of weather today and three next day------------------------*/
.weather-city-information {
  flex-basis: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-shadow: -1px -1px 1px #ffffff86, 1px 1px 1px #ffffff86, -2px -2px 2px #8a8888b2, 2px 2px 2px #8a8888b2;
}

.city-time > * {
  font-family: Montserrat-Bold;
  padding-top: 5px;
}

.weather-today {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-shadow: -1px -1px 1px #ffffff86, 1px 1px 1px #ffffff86;
}

.weather-today__temperature_number {
  font-size: 280px;
  font-family: Montserrat-Bold;
  display: flex;
  position: relative;
}

.weather-today__temperature_number img {
  position:absolute;
  width: 200px;
  right: -110px;
  top: -70px;
  z-index: -1;
}

.weather-today__temperature_sign-degree {
  display: block;
  font-size: 100px;
  padding-top: 10%;
}

.weather-today__description {
  display: flex;
  flex-direction: column;
  line-height: 2;
  font-family: Montserrat-Bold;
  font-size: 22px;
  padding-top: 75px;
   
}

.weather-today__description >* {
  display: block;
}


.weather-next-days {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.weather-next-days_item {
  flex-basis: 25%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  text-shadow: -1px -1px 1px #ffffff86, 1px 1px 1px #ffffff86;
}

.weather-next-days_name-day {
  font-family: Montserrat-Bold;
  font-size: 22px;
}

.weather-next-days_temperature_number {
  font-family: Montserrat-SemiBold;
  font-size: 70px;
  display: flex;
}

.weather-next-days_sign-degree {
  display: block;
  font-size: 40px;
}

.weather-next-days_temperature_number {
  z-index: 10;
}

.weather-next-days_icons{
  width: 50%;
  position: absolute;
  top: -5px;
  left: 30px;
  z-index: -1;
}

.user-location {
  flex-basis: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-location__geolocation {
  width: 60%;
  height: 280px;
  border-radius: 10% 10% 0 10%;
}
